.button: focused {
    -fx-graphic: url('C:\Users\Lenovo\Desktop\HUST\20222\OOP\MiniProject\OOP.MiniProject.20222.Group_12\ForceSimulation\src\main\resources\soict\dsai\group12\forcesimulation\Image\btn.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}